// basic flex definitions
@mixin flexRow($justify: center, $align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexColumn($justify: center, $align: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin standardShadow {
  box-shadow: #00000020 0px 2px 1px -1px,
    #00000014 0px 1px 1px 0px,
    #00000012 0px 1px 3px 0px;
}