.layout-one {
  height: 100vh;

  header {
    height: 10%;
    // background-color: lightgrey;
    @include flexRow(space-between, center);

    .left-aligned-items {
      @include flexRow(space-evenly, center);
      margin-left: 1rem;
      height: 100%;
      // background-color: blue;

      div {
        margin: 0.5rem;
      }
    }

    .right-aligned-items {
      @include flexRow(space-evenly, center);
      margin-right: 1rem;
      height: 100%;
      // background-color: red;

      div {
        margin: 0.5rem;
      }
    }
  }

  body {
    height: 80%;
    // background-color: yellow;
    @include flexRow(flex-start, flex-start);

    .left-drawer {
      height: 100%;
      width: 20%;
      // background-color: red;
      overflow-y: scroll;

      .contents {
        width: 100%;
        @include flexColumn(flex-start, flex-start);

        button {
          width: 100%;
          height: 60px;
          border-radius: 10px;
          background-color: lightgrey;
          box-shadow: #00000020 0px 2px 1px -1px,
            #00000014 0px 1px 1px 0px,
            #00000012 0px 1px 3px 0px;
          margin: 0.1rem 0 0.1rem 0;
          border: 0px;
          font-size: 20px;
          text-align: left;
          padding: 1rem;

          &:hover {
            background-color: darkgrey;
            color: white;
          }
        }
      }
    }

    .main-content {
      height: 100%;
      width: 80%;
      // background-color: lightblue;
      @include flexColumn;

      .container {
        width: 99.5%;
        height: 99%;
        border-radius: 25px;
        // background-color: white;
        box-shadow: #00000020 0px 2px 1px -1px,
          #00000014 0px 1px 1px 0px,
          #00000012 0px 1px 3px 0px;
      }
    }
  }

  footer {
    height: 10%;
    // background-color: lightgoldenrodyellow;
    @include flexRow(flex-start, center);

    .left-content {
      height: 100%;
      width: 40%;
      // background-color: yellow;
      @include flexColumn(center, flex-start);
      padding-left: 1rem;
    }

    .center-content {
      height: 100%;
      width: 20%;
      // background-color: blue;
      @include flexColumn;
    }

    .right-content {
      height: 100%;
      width: 40%;
      // background-color: green;
      @include flexColumn(center, flex-end);
      padding-right: 1rem;
    }
  }
}